.blog-section {
    height: auto;
    width: 100%;
    /* border: 1px red solid; /
    margin-top: 20px;   */
    padding: 3vw;
}

.blog-heading {
    height: 150px;
    width: 100%;
    /* border: 1px blue solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    text-align: center;
}

.blog-heading>h2 {
    font-size: 40px;
    font-weight: 900;
}

.blog-heading>p {
    font-size: 20px;
    font-weight: 500;
}

.blog-content {
    height: 350px;
    width: 100%;
    /* border: 1px blue solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.blog-box {
    height: 330px;
    width: 300px;
    /* border: 1px red solid; */
    box-shadow: 8px 6px 16px 2px rgba(0, 0, 0, 0.70);

}
.blog-box>h5{
    .blog-box 
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    text-align: start;
}

.btns>h5 {
    font-size: 25px;
    padding-left: 10px;
    color: green;
}

.btns>p {
    font-size: 18px;
    color: green;
}