.main-nav-bar{
    height: 4rem;
    background-color: green;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.SignIn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 200px;
    height: 100%;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 120px;
    height: 100%;
}
.buttons>button{
    height: 40px;
    width: 110px;
    background-color: green;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    transition: 0.6s;
}
.buttons>button:hover{
    background-color: white;
    color: green;
    border: 2px green solid;
    cursor: pointer;
    transform: scale(1.2);
}
.Icons{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    /* padding-right: 5px; */
}
.Icons>i{
    margin: 5px;
}
.lower-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
}

.lower-nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 7%;
    font-weight: bold;
}